body {
  background-color: #000;
  color: #fff;
  padding: 5px;
  text-align: center;
  font-family: Arial, Times New Roman, Helvetica;
  font: size 16px;
  line-height: 1.6em;
}

body a {
  text-decoration: none;
  color: white;
  border: 5px solid silver;
  border-radius: 50%;
  padding: 4px 50px;
}

body a:hover {
  color: white;
  background-color: teal;
  text-decoration: none;
}

body a:visited {
  text-decoration: none;
  color: white;
}

.Container {
  background-color: teal;
  border: 1px solid white;
  padding: 5px;
  margin: 0 auto;
  color: #286270;
}

#navbalk {
  background-color: #286269;
  border: 1px solid #fff;
}

#navbalk ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

#navbalk li {
  display: inline-block;
  border: 6px solid rgb(6, 78, 78);
  border-radius: 50%;
  background-color: slategrey;
  color: white;
  padding: 5px;
  margin: 10px;
}

#leuk ul {
  background-color: #fff;
  color: black;
  padding: 0;
  list-style: none;
  font-size: 20px;
}

#leuk li {
  display: inline;
  padding-right: 50px;
  border: 2px dotted black;
}

#green-background {
  background-color: #fff;
}

.copyright {
  color: black;
  text-align: center;
  font-size: 25px;
}

@media (min-width: 1024px) {
  body {
    background-color: #fff;
    color: #286269;
    font-size: 1.5em;
    line-height: 40px;
  }
  .copyright {
    background-color: teal;
    border: 1px solid white;
    padding: 5px;
    margin: 0 auto;
    color: #286270;
  }
}
