body {
  background-color: #000;
  color: #fff;
  padding: 5px;
  text-align: center;
  font-family: Arial, Times New Roman, Helvetica;
  font: size 16px;
  line: height 1.6em;
}

.Container {
  background-color: teal;
  border: 1px solid white;
  padding: 5px;
  margin: 0 auto;
}

#navbalk {
  background-color: #286269;
  border: 1px solid #fff;
  padding: 5px;
  margin: 10px;
}

#navbalk ul {
  padding: 0;
  list-style: none;
}

#navbalk li {
  display: inline-block;
  padding-right: 1.6em;
}

#leuk ul {
  background-color: #fff;
  color: black;
  padding: 0;
  list-style: none;
  font-size: 20px;
}

#leuk li {
  display: inline;
  padding-right: 50px;
  border: 2px dotted black;
}

#green-background {
  background-color: #fff;
}

.copyright {
  color: black;
  text-align: center;
  font-size: 25px;
}
